# Exclude the virtual environment or unwanted directory
project1-hotel-reservation-prediction/mlops-01/
project2-anime-rs/project02/
mlruns/
# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode or PyCharm settings (if using)
.vscode/
.idea/

# macOS and system files
.DS_Store

# Log and temp files
*.log
*.tmp
*.swp

# Env files
.env
.env.*

# Pytest cache
.pytest_cache/

# Build and dist folders
build/
dist/
*.egg-info/

